.horizontalLine1{
    margin: 0;
    margin-bottom: $articleMargin;
    padding: 0;
    width: 100%;
    float: left;
    height:1px;
    border:none;
    color:$shadowGray;
    background-color:$shadowGray;
}
.horizontalLine2{
    margin-left: 132px;
    margin-top: 10px;
    height:1px;
    border:none;
    color:$shadowGray;
    background-color:$shadowGray;
}
.horizontalLine3{
    margin: 0;
    margin-left: 0;
    width: 90%;
    float: left;
    height:1px;
    border:none;
    color:$shadowGray;
    background-color:$shadowGray;
}
.horizontalLine4{
    margin: 0;
    margin: 10px 0 10px 5px;
    width: 8%;
    float: left;
    height:1px;
    border:none;
    color:$shadowGray;
    background-color:$shadowGray;
}
.horizontalLine5{
    margin: 0;
    width: 100%;
    height:1px;
    border:none;
    color:$shadowGray;
    background-color:$shadowGray;
}
