$primaryColor:#d04144;
$navWhite:WHITE;
$bodyGray:#F2F2F2;
$shadowGray:#e6e6e6;
$navGray:#666666;
$titleBlack:#333333;


$fontLato:Lato;

$titleFontSize:35px;
$titleFontWeight:700;
$titleLineHeight:30px;

$smallTitleHeight:34px;

$smallTextSize:18px;
$smallTextHeight:27px;
$smallTextWeight:400;
$smallTitleSize:28px;

$navFontSize:18px;
$navFontWeight:400;
$navLineHeight:30px;



$bold:700;
$normal:400;

$articleMargin:25px;
$mobileMargin:10px;

$mobileTitleFontSize:20px;
$mobileMainTitleFontSize:23px;
$mobileLineHeight:26px;
$mobileTitleLineHeight:32px;
